{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
{#    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>#}
{#    <link rel= "stylesheet" href= "{% static 'css/map.css' %}" type="text/css">#}
    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <link rel= "stylesheet" href= "{% static 'bootstrap-3.2.0-dist/css/bootstrap.css' %}" type="text/css">
    <script src= "{% static 'bootstrap-3.2.0-dist/js/bootstrap.js' %}"></script>
    <script type = "text/javascript" src = "{% static "js/map.js" %}"></script>
    <script type = "text/javascript" src = "{% static 'js/sidebar.js' %}"></script>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTM4fGWQ4C83C3WtC6ml7kZgmRhI0wgVk">
    </script>
    <link rel="stylesheet" type="text/css" href = "{% static 'css/test.css' %}">


  </head>
  <body>
      <div id = "sidebar" class="navbar navbar-default navbar-fixed-top">
{#new junk#}
{#          <input type="text" id="addBook">#}
{#          <button class="btn btn-default" id="addBookButton">Submit</button>#}
{#          <span id ="bookInfo"></span>#}
{#end new junk#}
{#the error lies somewhere in how the bootstrap version of this new junk is written#}
          <div class="container">
              <div class = "navbar-header">
              <a href="#" class = "navbar-brand">BookMaps</a>
              <button class = "navbar-toggle" data-toggle="collapse" data-target = ".navHeaderCollapse"><span class="glyphicon glyphicon-book"></span></button>
              </div>
              <div class = "collapse navbar-collapse navHeaderCollapse">
                  <ul class = "nav navbar-nav navbar-right">
                    <li><a href ="#myModal" data-toggle="modal" data-target="#myModal" id="about">About</a></li>
{#                    <li><a href = 'mailto:andrewshum@alumni.ucsd.edu?Subject=BookMaps%20Question'>Contact</a></li>#}
                    <li><a id = "contact" rel="popover">Contact</a></li>
                  </ul>
{#                  <span class = "addBookSpan">#}
                      <span class="navbar-form navbar-left"> {# Oh my god! using the form tag somehow screws up everything by giving errno 10053 #}
{#                        {% csrf_token %}#}
                          <span class="input-group">
                              <input type="text"  class = "form-control inputAB" id="addBook" placeholder = "Add a Book" >
                              <span class="input-group-btn">
                                  <button class="btn btn-default" id="addBookButton">Submit</button>

                              </span>
                          </span>
                      </span>
{#                  </span>#}
                    <div class = "navbar-form btn-group navbar-left" id="bookInfo">

                    </div>
                    <ul class = "nav navbar-nav navbar-left">
                        <li>
                            <p  id = "bookInfoResult" class="navbar-text"></p>
                        </li>
                    </ul>
              </div>
          </div>
      </div>

      <div id = "map-canvas"></div>
{#      <div id = "timeSlider"></div>#}


  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">About BookMaps</h4>
      </div>
      <div class="modal-body">
        <p>BookMaps is a location-based book discovery tool for discovering your next read. It works by mapping out books based on the setting in which they took place. Navigate around the map, and books will start popping up!</p>
        <p>You can also add your favorite book to BookMap's community database by using the "Add a Book" function.</p>
        <p>This is an ongoing project by <a href="https://github.com/mathhomework/bookmaps">Andrew Shum</a>. Please send questions or comments to: andrewshum@alumni.ucsd.edu</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Got it!</button>
{#        <button type="button" class="btn btn-primary">Save changes</button>#}
      </div>
    </div>
  </div>
</div>




  </body>
</html>