html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0
}

#map-canvas {

    height:80%;
    width: 100%;
    bottom:0;
    position:absolute;
}

.cover img{
    display:inline;
    background-color:blue;
}

.cover p{
    display:inline
}

#sidebar{
    top:0;

    height:20%;
    position:absolute;
    width:100%;
    background-color:pink;
    /*right:0;*/
    border-bottom: 2px yellow dashed;
}

/*#sidebar:before {*/
   /*content: " ";*/
   /*position: absolute;*/
   /*z-index: -1;*/
   /*top: 5px;*/
   /*left: 5px;*/
   /*right: 5px;*/
   /*bottom: 5px;*/
   /*border: 5px solid #ffea00;*/
/*}*/
