html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0
}

#map-canvas {

    height:100vh;
    width: 80%;
    float:left;

}

.cover{
    display:inline;
    background-color:blue;
}

#sidebar{
    height:100vh;
    position:fixed;
    width:20%;
    background-color:pink;
    right:0;
    float:right;
    border-left: 2px yellow dashed;
}

/*#sidebar:before {*/
   /*content: " ";*/
   /*position: absolute;*/
   /*z-index: -1;*/
   /*top: 5px;*/
   /*left: 5px;*/
   /*right: 5px;*/
   /*bottom: 5px;*/
   /*border: 5px solid #ffea00;*/
/*}*/