//$font-stack: Arial, sans-serif;
$primary-color:#333;
$navbar-color: #3e3;

body{
  color: $primary-color;
}



.navbar-default{
  background-color: $navbar-color;
}

#map-canvas {
    height:80%;
    width: 100%;
    bottom:0;
    position:absolute;
}